<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/image.jpg" 
        class="img-fluid" id="profilePicture"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full-Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About Me</h1>
            <p>Soy QA Tester con 3 años de experiencia, 
            principalmente en la industria de servicios financieros
            (bancos). Estoy muy interesado en desarrollar herramientas que 
            puedan facilitar la vida a muchas personas. 
            </p>        
        </span>
    </div>
</div>
