<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 uno">
            <h3>Ejemplo1</h3>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nisi vel nesciunt
                 quibusdam non incidunt, error nostrum
                  quia eius odit accusantium? 
                  Incidunt excepturi aliquid aperiam 
                  tempora animi? Id assumenda aliquid 
                  voluptatum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 dos 
        offset-md-1 offset-lg-1">
            <img src="../../../assets/project.png" class="img-fluid img-project">
        </div>
    </div>
</div>
