<div class="row">
    <h1>Hard And Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
                [percent]="85"
                [radius]="100"
                [space]="-8"
                [showUnits] ="false"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'#58D416'"
                [innerStrokeColor]="'#EAEAEA'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle] ="false"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"                
                >

        </circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="70"
            [radius]="100"
            [space]="-8"
            [showUnits] ="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#58D416'"
            [innerStrokeColor]="'#EAEAEA'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle] ="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"                
        >
        </circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="50"
            [radius]="100"
            [space]="-8"
            [showUnits] ="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#58D416'"
            [innerStrokeColor]="'#EAEAEA'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle] ="false"
            [imageSrc]="'../assets/postman.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"                
        >
        </circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="100"
            [space]="-8"
            [showUnits] ="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#58D416'"
            [innerStrokeColor]="'#EAEAEA'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle] ="false"
            [imageSrc]="'../assets/vsc.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"                
        >
        </circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="45"
            [radius]="100"
            [space]="-8"
            [showUnits] ="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#58D416'"
            [innerStrokeColor]="'#EAEAEA'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle] ="false"
            [imageSrc]="'../assets/github.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"                
        >
        </circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="100"
            [space]="-8"
            [showUnits] ="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#58D416'"
            [innerStrokeColor]="'#EAEAEA'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle] ="false"
            [imageSrc]="'../assets/english.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"                
        >
        </circle-progress>
    </div>    
</div>
