.row{
    background-color: #52d7ff ;

}
footer{
    color:rgb(202, 234, 255);
    font-size: 20px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 15px #a0e2f3;

}