<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10 ">
            <ul><li>
                <h1>Estudios 1</h1> - 
                <h3>(years)</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, 
                minima possimus. Unde alias nam magnam dolorem cum temporibus 
                corporis! Quasi eum non quo doloremque excepturi animi expedita 
                perferendis facilis omnis.</p>
            </ul>
                <ul><li>
                <h1>Estudios 2</h1> - 
                <h3>(years)</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, 
                minima possimus. Unde alias nam magnam dolorem cum temporibus 
                corporis! Quasi eum non quo doloremque excepturi animi expedita 
                perferendis facilis omnis.</p>
            </ul>
               
    </div>
</div>
